* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

div.logo {
  background-color: white;
  width: 100%;
}

div.logo img {
  width: 20%;
}

div.home {
    background-image: url(images/background4.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

div.line {
    color: rgb(11, 40, 56);
    padding: 10% 0 0 8%;
    font-size: 3rem;
    width: 50%;
    text-shadow: 2px 2px white;
}

div.form {
    position: relative;
    width: 350px;
    padding-top: 2%;
    background-color: rgb(11, 40, 56);
    /* height: 20rem; */
    height: 320px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8%;
    align-items: center;
    margin: 5% 30% 1% 5%;
}

input {
    padding: 10%;
    width: 100%;
}

button {
    background-color: red;
    color: white;
    width: 190px;
    cursor: pointer;
    height: 2.5rem;
    font-size: 1.4rem;
}
button:hover {
    background-color: rgb(185, 26, 26);
    transition: .4s;
}

div.city {
    height: 2.5rem;
}
div.mail {
    height: 2.5rem;
}
div.pass {
    height: 2.5rem;
}

div.anchor {
    padding: 3%;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
div.anchor a {
    color: white;
}

div.more {
    padding-left: 10%;
    font-size: 1.5rem;
    padding-bottom: 3%;
}
div.more a {
    text-decoration: none;
    color: rgb(11, 40, 56);
    text-shadow: 2px;
}
div.more a:hover {
    color: rgba(11, 40, 56, 0.697);
}

div.over {
    font-size: 2rem;
    padding: 5%;
    color: rgb(11, 40, 56);
}
div.investment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4%;
    padding: 0% 5% 5% 5%;
}

div.lorem1{
    text-align: center;
}
.lorem11 {
    font-size: 2.5rem;
    color: rgb(70, 200, 244);
    padding-bottom: 3%;
}
div.lorem12 {
    padding-bottom: 5%;
    color: rgb(11, 40, 56);
    font-size: 1.4rem;
}
div.lorem2{
    text-align: center;
}
div.lorem21 {
    font-size: 2.5rem;
    color: rgb(70, 200, 244);
    padding-bottom: 3%;
}
div.lorem22 {
    padding-bottom: 5%;
    color: rgb(11, 40, 56);
    font-size: 1.4rem;
}
div.lorem3{
    text-align: center;
}
div.lorem31 {
    font-size: 2.5rem;
    color: rgb(70, 200, 244);
    padding-bottom: 3%;
}
div.lorem32 {
    padding-bottom: 5%;
    color: rgb(11, 40, 56);
    font-size: 1.4rem;
}

div.partner1 {
    background-color: rgba(227, 223, 223, 0.604);
}
h2{
    padding: 3% 3% 0% 3%;
}
div.partner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 4%;
    padding: 5%;
}

div.partner img {
    max-width: 100%;
}

div.undo {
    padding: 5% 0% 0% 25%;
    font-size: 2rem;
    color: rgb(11, 40, 56);
}
div.accounts {
    padding: 5%;
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    column-gap: 0%;
}
div.accounts1 {
    padding-bottom: 5%;
    font-size: 1.5rem;
}
div.accounts2 {
    padding-bottom: 5%;
    font-size: 1.5rem;
}

div.accounts img {
    max-width: 20%;
    margin-left: 15%;
    margin-top: 5%;
}

div.final {
    text-align: center;
}

div.final button {
    margin: 5% 0% 2% 0%;
    width: 300px;
}
div.final1 a {
    padding-bottom: 5%;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(11, 40, 56);
}
div.final1 a:hover {
    color: rgba(11, 40, 56, 0.718);
}